@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
.about-image-container {
	text-align: center;
}
.about-heading {
	margin-left: 20px;
	color: rgba(150, 88, 230, 0.836);
}

.about-paragraph {
	font-size: 22px;
	margin-top: 50px;
}
.jumbo {
	font-family: 'Port Lligat Sans', sans-serif;
    color: black;
    text-align: center;
}
.hr {
	width: 100px;
	color: rgba(150, 88, 230, 0.836);
	border: 0.5px solid rgba(150, 88, 230, 0.836);
}
