.nav {
	background-color: white;
	margin-bottom: 50px;
    font-weight: bold;
    
}
.user {
	margin-top: 7px;
	margin-left: 5px;
}
.navLinks{
    font-family: 'Port Lligat Sans', sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	margin-bottom: 30px;
}
.button {
	margin-left: 15px;
	text-align: center;
	padding: 7px;
	background: rgba(150, 88, 230, 0.836);
	font-weight: bold;
}

.logo {
	color: purple;
	font-size: 160%;
	font-weight: bold;
    font-family: 'Port Lligat Sans', sans-serif;
}
.btn {
	margin-bottom: 5px;
}
@media (max-width: 600px) {
	.btn {
		margin-bottom: 5px;
	}
	.user {
		margin-top: 7px;
		margin-left: 0;
	}
	.nav{
		text-align: center;
	}
}
