.reviews {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 20%;
}
.items {
	display: flex;
	flex-direction: row;
    margin-left: 50%;
    justify-content: space-between;
}
.modal{
    margin-left:6% ;
    width: 83%;
    margin-top: 15%;
}
.newReviewButton {
	background: rgba(150, 88, 230, 0.836);
	font-weight: bold;
	padding: -1px 2px;
	height: 45px;
	width: 150px;
	margin-right: 15%;
}
.companyInsight {
	text-align: left;
	color: purple;
}
.theStar {
	margin-top: 5px;
}
@media (max-width: 600px) {
	.reviews {
		width: 100%;
	}
	.items {
		margin-left: 0%;
		width: 100%;
	}
	.newReviewButton {
		margin-right: 80px;
	}
}
@media (max-width: 450px) {
	.newReviewButton {
		margin-right: 10%;
		width: 190px;
		font-size: 14px;
    }
    .theStar{
        margin-left: 5px;
    }
}

@media (max-width: 340px){
    .theStar{
        margin-right: -28%;
        margin-left: 27px;
    }
    .newReviewButton{
        margin-right:13% ;
    }
}
@media (max-width: 290px){
    .theStar{
        margin-right: -45%;
        margin-left: 12px;
    }
    .newReviewButton{
        margin-right:13%;
        margin-top: 2px;
        font-size: 12px;
        height: 35px;
        width: 100px;
    }
}