.reviewCard {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	background: rgb(213, 220, 255);
	text-align: center;
}
.icon {
	margin-left: 2%;
	background: white;
	width: 50px;
}
.cardHeader {
	width: 100%;
}
.uiIcons {
	margin-left: 60%;
	margin-right: -30%;
    width: 100%;
    cursor: pointer;
}
.text {
   margin-top: 4px;
    padding: 5px 8px;
}
.editmodal{
    width: 82%;
}
.modalTitle{
    color:purple;
}
@media (max-width: 700px) {
	.uiIcons {
		margin-right: -25%;
	}
}
@media (max-width: 320px) {
	.uiIcons {
		margin-right: -18%;
	}
}