.searchInput {
	width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(226, 166, 226, 0.7);
}
.searchControl{
    height: 100%;
    border: 1px solid rgba(226, 166, 226, 0.7);
}
.searchForm {
	width: 88%;
}
.searchButton {
	height: 32px;
}
.dropDown {
	width: 20%;
	margin-left: 10%;
}
@media (max-width: 700px) {
	.dropDown {
		width: 40%;
		margin-left: 6%;
	}
}
@media (min-width: 1200px) {
	.dropDown {
		margin-left: 10.5%;
	}
}
@media (max-width: 320px) {
	.searchInput {
	width: 61%;
}
}