.control {
	margin-bottom: 10px;
	border: 1px solid rgba(226, 166, 226, 0.7);
}
.form {
	width: 40%;
	margin: 0 auto;
}
.formTitle {
	color: purple;
}
@media (max-width: 600px) {
	.form {
		width: 70%;
	}
}
